body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background:white;
    .fa-square-plus{
        color: #fe424d;
        font-size: 2rem;
    }

    .nav-link{
        /* importanat is used to override custom style */
        color: #222222 !important;
    }
}

/* footer  */
.f-info{
    display: flex;
    height: 5rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}

.f-info-socials,.brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}


/* cards  */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

    .card-img-top{
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover;
    }

    .card-body{
        padding: 0 !important;


        .card-text p{
            font-weight: 400;
        }
    }
}

.listing-links{
    text-decoration: none;
}
/* card-effect  */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new-page  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit-page  */
.edit-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/* show-page  */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;

}

.sigup-heading{
    color: #fe424d !important;
}

.login-heading{
    color: #fe424d !important;
}
.heading{
    color: #fe424d !important;

}
.blue-heading{
    color: #1877F2 !important ;
}

.heading-img{
    height: 100px !important;
    
}
.avalablefor{
    opacity: 0.6;
}

.signup-div{
    
    padding: 26px !important;
    
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-div{
    
    padding: 26px !important;
    
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-signup{
    border: none !important;
    color: #ebebeb !important;
}
.line{
    height: 100% !important;
    width:1px !important ;
    background-color: #222222 !important;
}

.shadobox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h-shadobox:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
